
<h1>Greeter#hello</h1>
<%= @name %>
<%= formatted_time(@time) %>
<%= @times_displayed %>

<p><%= link_to "Google", "http://wwww.google.com" %></p>
<p><%= link_to "Goodbye", greeter_goodbye_path %></p>
<p>Find me in app/views/greeter/hello.html.erb</p>
<Br>
<p><%= Coursera.for "python" %></p>

